* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #220064;
    --secondary-color: lightgray;
    --accent: #8c52ff;
    font-size: 10px;
}

body {
    font-family: 'Bukhari Script', sans-serif;
    font-size: 2rem;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

main {
    padding: 20px;
    border-radius: 15px;
    border: 3px solid black;
    background-color: lightgray;
    margin: 15vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 20px;
}

input[type="submit"] {
    font: inherit;
    cursor: pointer;
    background: none;
    border: 6px solid var(--primary-color);
    padding: 12px;
    border-radius: 45px;
    margin: 10px;
    transition: 300ms ease;
}

input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 200ms ease;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    background: white;
    border: 6px solid var(--primary-color);
    border-radius: 30px;
    font: inherit;
    margin: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}