:root {
    --primary-color: #220064;
    --secondary-color: lightgray;
    --accent: #8c52ff;
    --button-color: #906bdb;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
}

select:focus{
    background-color: var(--accent);
}
input[type=submit]{
    background-color: var(--button-color);
}
input[type=submit]:hover{
    background-color: var(--accent);
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}