<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleLab | Exercize</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/exercise.css">
    <link href="https://fonts.cdnfonts.com/css/bukhari-script" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/LogoTransparent.png">
    <script src="/static/scripts/e0702_e.js"></script>
</head>
<body>

<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>

    <main>
        <div class="rows-container">
            <button type="button" class="btn-secondary" id="back" onclick="window.location.replace('/templates/index.html');">
                <img src="/static/images/home-agreement.png" alt="Home">
              </button>
            <h1>Determining the constant tension when the ball moves down the groove</h1>
            <div class="row">
                <p>
                    By pressing the red button, the measurement system is reset. First, place the ball at the top of an inclined plane with a slope angle of 30&deg;. Allow it to move freely under the force of gravity. Record the elapsed time from the initial moment to when the ball leaves the inclined plane. Perform the measurements three times. Determine the average time value as well as the absolute error in time measurement. Calculate the acceleration value a<sub>1</sub> and determine the relative error of the experiment. Repeat the procedure for an inclined plane with a slope angle of 45&deg;.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <table>
                        <thead>
                            <tr>
                                <th>&Alpha;</th>
                                <th>t</th>
                                <th>t<sub>md</sub></th>
                                <th>&Delta;t</th>
                                <th>a<sub>1</sub></th>
                            </tr>
                        </thead>
                        <tr>
                            <td rowspan="3">30&deg;</td>
                            <td><input type="text" name="d_11" id="d_11" onchange="calculateAvgTime()"></td>
                            <td rowspan="3"><input type="text" style="background-color: lightgray;" name="t_avg_30" id="t_avg_30" disabled></td>
                            <td><input type="text" name="d_13" id="d_13" disabled style="background-color: lightgray;"></td>
                            <td rowspan="3"><input type="text" style="background-color: lightgray;" name="a1" id="a1" disabled></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="d_21" id="d_21" onchange="calculateAvgTime()"></td>
                            <td><input type="text" name="d_23" id="d_23" disabled style="background-color: lightgray;"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="d_31" id="d_31" onchange="calculateAvgTime()"></td>
                            <td><input type="text" name="d_33" id="d_33" disabled style="background-color: lightgray;"></td>
                        </tr>
                        <tr>
                            <td rowspan="3">45&deg;</td>
                            <td><input type="text" name="d_41" id="d_41" onchange="calculateAvgTime()"></td>
                            <td rowspan="3"><input type="text" style="background-color: lightgray;" name="t_avg_45" id="t_avg_45" disabled></td>
                            <td><input type="text" name="d_43" id="d_43" disabled style="background-color: lightgray;"></td>
                            <td rowspan="3"><input type="text" style="background-color: lightgray;" name="a_2" id="a_2" disabled></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="d_51" id="d_51" onchange="calculateAvgTime()"></td>
                            <td><input type="text" name="d_53" id="d_53" disabled style="background-color: lightgray;""></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="d_61" id="d_61" onchange="calculateAvgTime()"></td>
                            <td><input type="text" name="d_63" id="d_63" disabled style="background-color: lightgray;"></td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="row">
            <p style="width: 100%; overflow-x: auto;">
                Relative measurement error δ<sub>1</sub> = <sup>(a<sub>1</sub> - <sup>g</sup>&frasl;<sub>&Sqrt;2</sub>)</sup>&frasl;<sub>(<sup>g</sup>&frasl;<sub>&Sqrt;2</sub>)</sub> = <input type="text" name="calc" id="sigma_1">
            </p>            
        </div>
        <div class="row">
            <p style="width: 100%; overflow-x: auto;">
                Relative measurement error δ<sub>2</sub> = <sup>(a<sub>1</sub> - <sup>g</sup>&frasl;<sub>2</sub>)</sup>&frasl;<sub>(<sup>g</sup>&frasl;<sub>2</sub>)</sub> = <input type="text" name="calc" id="sigma_1">
            </p>            
        </div>
    </div>
    </main>
    <script src="/static/scripts/exercise.js"></script>
</body>
</html>