<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleLab | Exercize</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/exercise.css">
    <link href="https://fonts.cdnfonts.com/css/bukhari-script" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/LogoTransparent.png">
</head>
<body>

<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>

    <main>
        <div class="rows-container">
            <button type="button" class="btn-secondary" id="back" onclick="window.location.replace('/templates/index.html');">
                <img src="/static/images/home-agreement.png" alt="Home">
              </button>
            <h1>Determining the constant tension when the ball moves down the groove</h1>
            <div class="row">
                <p>
                    <b>Objective of the exercise:</b> We will observe the rolling of a ball from rest down the Galilean groove, this motion is a uniformly accelerated rectilinear motion, so the dependence of the ball's distance on time is given by the equation <code>s=0.5*at<sup>2</sup></code>.  <br>
                    We will determine the acceleration of the ball a by measuring the distance s traveled and the time t for the ball to travel that distance from the equation <code>a=2s/t<sup>2</sup></code>.
            </p>
            </div>
            <div class="row">
                <div class="col">
                    <img src="/static/images/e_0701_1.png" alt="Slika vezbe">
                    
                </div>
                <div class="col">
                    <h2>Calculations:</h2>
                    <div>
                        a<sub>1</sub> = <input type="text" name="calc" id="calc1"> <br>
                        a<sub>2</sub> = <input type="text" name="calc" id="calc2"> <br>
                        a<sub>3</sub> = <input type="text" name="calc" id="calc3"> <br>
                    </div>
                    <input type="submit" value="Check" class="btn-secondary">
                </div>
            </div>
            <div class="row">
                <div class="explanation_text_container">
                    <ul id="Explaination_text" hidden="true">
                        <li>Gravitational force acts on every body of mass m.</li>
                        <li>As the thread is thin and inextensible, the resulting force on every small part of that thread is.</li>
                        <img src="/static/images/exp_0701.png" alt="">
                        <br>
                        <img src="/static/images/e_0701_2.png" alt="">
                        <li>
                            We assume the directions of movement (acceleration) of bodies 1, 2 and 3
                        </li>
                        <br>
                        <li>We write Newton's Second Laws for each of these bodies
                            <center>
                                <ol>
                                    <li>
                                        <code>ma<sub>1</sub>=mg-T</code>
                                    </li>
                                    <li>
                                        <code>ma<sub>2</sub>=2T-mg</code>
                                    </li>
                                    <li>
                                        <code>ma<sub>3</sub>=mg-T</code>
                                    </li>
                                </ol>
                            </center>
                        </li> <br>
                        <li>
                            The variables are a<sub>1</sub>, a<sub>2</sub>, a<sub>3</sub>, T
                        </li>
                        <li>
                            We have 4 unknowns => we must have 4 non-equivalent singularities
                        </li>
                        <li>
                            Based on Equations 1 and 3, we can conclude that a<sub>1</sub>=a<sub>3</sub>
                        </li>
                        <li>
                            If body 1 moves by s<sub>1</sub> for a time period t, body 2 moves by s<sub>2</sub> = 2s<sub>1</sub>
                        </li>
                        <li>
                            As the movement of the body is uniformly accelerated, we know that s<sub>1</sub>=0.5*a<sub>1</sub>t<sup>2</sup> and that s<sub>2</sub>=0.5*a<sub>2</sub>t<sup>2</sup>
                        </li>
                        <li>
                            From there we have that s<sub>1</sub>/s<sub>2</sub> = a<sub>1</sub>/a<sub>2</sub> => s<sub>1</sub>/2*s<sub>2</sub> = a<sub>1</sub>/a<sub>2</sub> => 2*a<sub>1</sub> = a<sub>2</sub>
                        </li>
                        <li>
                            Now we have 4 equations and 4 unknowns and we can solve the system
                        </li>
                        <li>
                            From equation 1 we have <code>T=mg-ma</code>
                        </li>
                        <li>
                            Substituting into the 2nd equation, we get that <code>2ma=2mg-2ma-mg => 4ma=mg => a=g/4</code>
                        </li> <br>  
                        <li>
                            From there we conclude that the calculations are for: <br> <br>
                            <center>
                                <ol>
                                    <li>
                                        a<sub>1</sub> = g / 4
                                    </li>
                                    <li>
                                        a<sub>2</sub> = g / 2
                                    </li>
                                    <li>
                                        a<sub>3</sub> = g / 4
                                    </li>
                                </ol>
                            </center>
                        </li>
                    </ul>                        
                <input type="submit" value="Explaination" id="Explaination" class="btn-secondary">
                </div>
            </div>
        </div>
    </main>
    <script src="/static/scripts/exercise.js"></script>
</body>
</html>