<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleLab | Exercize</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/exercise.css">
    <link href="https://fonts.cdnfonts.com/css/bukhari-script" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/LogoTransparent.png">
</head>
<body>

<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>

    <main>
        <div class="rows-container">
            <button type="button" class="btn-secondary" id="back" onclick="window.location.replace('/templates/index.html');">
                <img src="/static/images/home-agreement.png" alt="Home">
              </button>
            <h1>Determining the constant tension when the ball moves down the groove</h1>
            <div class="row">
                <p>
                    <b>Objective of the exercise:</b> We will observe the rolling of a ball from rest down the Galilean groove, this motion is a uniformly accelerated rectilinear motion, so the dependence of the ball's distance on time is given by the equation <code>s=0.5*at<sup>2</sup></code>.  <br>
                    We will determine the acceleration of the ball a by measuring the distance s traveled and the time t for the ball to travel that distance from the equation <code>a=2s/t<sup>2</sup></code>.
                    <br> <br>
                    <b>Description of the exercise:</b> We will measure on a steep plane with an inclination angle of 45 degrees and a steep plane with an inclination angle of 30 degrees.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <img src="/static/images/e_0702_1.png" alt="Slika vezbe">
                    
                </div>
                <div class="col">
                    <h2>Calculations:</h2>
                    <div>
                        a<sub>1</sub> = <input type="text" name="calc" id="calc1"> <br>
                        a<sub>2</sub> = <input type="text" name="calc" id="calc2"> <br>
                    </div>
                    <input type="submit" value="Check" class="btn-secondary">
                </div>
            </div>
            <div class="row">
                <div class="explanation_text_container">
                    <ul id="Explaination_text" hidden="true">
                        <li>The corresponding drawn angles in the figure are equal to angles with normal legs and are 45 degrees.</li>
                        <center>
                            <img src="/static/images/exp_0702_3.png" alt=""> <br>
                            <img src="/static/images/exp_0702_4.png" alt="">
                        </center>
                        <li>We know that it is valid for an isosceles right triangle.</li>
                        <center>
                            <img src="/static/images/exp_0702_1.png" alt="">
                        </center>
                        <br>
                        <li>From there we conclude that <code>Fgp=0.5*mg*sqrt(2)</code> </li>
                        <li>We write Newton's second law for the ball:</li>
                        <center>
                            <br>
                            <code>Fgp=0.5*mg*sqrt(2)=ma</code>
                            <br> <br>
                        </center>
                        <li>We can conclude <code>a=0.5*g*sqrt(2)</code></li>
                        <li>The corresponding drawn angles in the picture are equal to the angles with normal sides and are 45 degrees</li>
                        <li>We know that for a right triangle with angles of 60 and 30 degrees:</li>
                        <center>
                            <img src="/static/images/exp_0702_2.png" alt="">
                        </center>
                        <li>From there we conclude that <code>Fgp=0.5*mg</code></li>
                        <li>We write Newton's second law for the ball:</li>
                        <center>
                            <br>
                            <code>Fgp=0.5*mg*=ma</code>
                            <br> <br>
                        </center>
                        <li>We conclude: <code>a=g*0.5</code></li>
                        <li>
                            From there we conclude that the calculations are for: <br>
                            <center>
                                <code>a<sub>1</sub>=0.5*g*sqrt(2)</code> <br>
                                <code>a<sub>2</sub>=0.5*g</code>
                            </center>
                        </li>
                    </ul>
                <input type="submit" value="Explaination" id="Explaination" class="btn-secondary">
                </div>
            </div>
        </div>
    </main>
    <script src="/static/scripts/exercise.js"></script>
</body>
</html>