<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select exercise</title>
  <link href="https://fonts.cdnfonts.com/css/bukhari-script" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/select_exercise.css">
  <link rel="icon" type="image/x-icon" href="/static/images/LogoTransparent.png">

</head>
<body>

<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>


<main>
  <h1>Select exercise mode</h1>
  <button type="button" class="btn-secondary" id="back" onclick="window.location.replace('/templates/index.html');">
    <img src="/static/images/home-agreement.png" alt="Home">
  </button>
  <div class="main-container">
    <form method="post" action="">

      <!-- Button template-->
      <input type="submit" class="exercise_button" id="Theoretical" value="Theoretical">
      <input type="submit" class="exercise_button" id="Practice" value="Practice">
      <input type="submit" class="exercise_button" id="Quiz" value="Quiz">
    </form>
  </div>
</main>
</body>
</html>