<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleLab | Exercize</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/exercise.css">
    <link href="https://fonts.cdnfonts.com/css/bukhari-script" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/LogoTransparent.png">
</head>
<body>

<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>

    <main>
        <div class="rows-container">
            <button type="button" class="btn-secondary" id="back" onclick="window.location.replace('/templates/index.html');">
                <img src="/static/images/home-agreement.png" alt="Home">
              </button>
            <h1 style="margin: 30px">Determining the Equivalent Resistance of Series and Parallel Resistor Connections</h1>
            <div class="row">
                <p>
                    <b>Objective of the exercise:</b> <br>
                    Comparing experimental values of the equivalent resistance of a system of two resistors connected in parallel or in series with the theoretical calculations.
                    <b>Description of the exercise:</b><br>
                    We will conduct an experiment on two resistors with resistances of 100Ω and 200Ω.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <table>
                        <thead>
                            <tr>
                                <th>Type of connection</th>
                                <th>R</th>
                                <th>R<sub>avg</sub></th>
                                <th>&Delta;R</th>
                                <th>R<sub>e</sub> = (R &PlusMinus; &Delta;R</th>
                            </tr>
                        </thead>
                        <tr>
                            <td rowspan="3">Serial</td>
                            <td><input type="text" name="d_11" id="d_11"></td>
                            <td rowspan="3"><input type="text" name="serial_avg" id="serial_avg" disabled style="background-color: lightgrey;"></td>
                            <td><input type="text" name="d_13" id="d_13" disabled style="background-color: lightgrey;"></td>
                            <td rowspan="3"><input type="text" name="R_se" id="R_se" disabled style="background-color: lightgrey;"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="d_21" id="d_21"></td>
                            <td><input type="text" name="d_23" id="d_23" disabled style="background-color: lightgrey;"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="d_31" id="d_31"></td>
                            <td><input type="text" name="d_33" id="d_33" disabled style="background-color: lightgrey;"></td>
                        </tr>
                        <tr>
                            <td rowspan="3">Parallel</td>
                            <td><input type="text" name="d_41" id="d_41"></td>
                            <td rowspan="3"><input type="text" name="parallel_avg" id="parallel_avg" disabled style="background-color: lightgrey;"></td>
                            <td><input type="text" name="d_43" id="d_43" disabled style="background-color: lightgrey;"></td>
                            <td rowspan="3"><input type="text" name="R_pe" id="R_pe" disabled style="background-color: lightgrey;"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="d_51" id="d_51"></td>
                            <td><input type="text" name="d_53" id="d_53" disabled style="background-color: lightgrey;"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="d_61" id="d_61"></td>
                            <td><input type="text" name="d_63" id="d_63" disabled style="background-color: lightgrey;"></td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="row">
            <p style="width: 100%; overflow-x: auto;">
                Relative measurement error δ<sub>1</sub> = &#40;R<sub>e1</sub> - 300&Omega;&#41; &#47; 300&Omega; = <input type="text" name="calc" id="sigma_1">
            </p>            
        </div>
        <div class="row">
            <p style="width: 100%; overflow-x: auto;">
                Relative measurement error δ<sub>2</sub> = &#40;R<sub>e2</sub> - 150&Omega;&#41; &#47; 150&Omega;> = <input type="text" name="calc" id="sigma_1">
            </p>            
        </div>
    </div>
    </main>
    <script src="/static/scripts/exercise.js"></script>
</body>
</html>