<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleLab | Exercize</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/exercise.css">
    <link href="https://fonts.cdnfonts.com/css/bukhari-script" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/LogoTransparent.png">
</head>
<body>

<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>

    <main>
        <div class="rows-container">
            <button type="button" class="btn-secondary" id="back" onclick="window.location.replace('/templates/index.html');">
                <img src="/static/images/home-agreement.png" alt="Home">
              </button>
            <h1>Determining the equivalent resistance of series and parallel connection of resistors</h1>
            <div class="row">
                <p>
                    <b>Objective of the exercise:</b> Comparing the experimental values of the equivalent resistance of the system of 2 resistors connected in parallel or in series, with theoretical calculations. <br>
                    <b>Description of the exercise:</b> We will perform an experiment on 2 resistance resistors of 100 and 200 ohms.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <img src="/static/images/e_0801_2.png" alt="Slika vezbe">
                    
                </div>
                <div class="col">
                    <h2>Calculations:</h2>
                    <p>
                        Determine the predictions of the equivalent resistance of the discharge system
                    </p>
                    <div>
                        R<sub>e1</sub> = <input type="text" name="calc" id="">
                        R<sub>e2</sub> = <input type="text" name="calc" id="">
                    </div>
                    <input type="submit" value="Check" class="btn-secondary" onclick="alert(document.querySelectorAll('input')[0].value === '300' && document.querySelectorAll('input')[1].value === '150')">
                </div>
            </div>
            <div class="row">
                <div class="explanation_text_container">
                    <ul id="Explaination_text" hidden="true">
                        <h3 style="font-family: sans-serif;">Series connection</h3>
                        <li>
                            Let U<sub>1</sub> and U<sub>2</sub> be the respective voltages on resistors R<sub>1</sub> and R<sub>2</sub>, and let I be the current running through them
                        </li>
                        <li>
                            We know that U = U<sub>1</sub> + U<sub>2</sub>
                        </li>
                        <center>
                            <li>
                                IR<sub>1</sub> + IR<sub>2</sub> = IR<sub>e1</sub>
                            </li>
                            <li>
                                R<sub>1</sub> + R<sub>2</sub> = R<sub>e1</sub>
                            </li>
                        </center>

                        <h3 style="font-family: sans-serif;">Parallel connection</h3>
                        <li>
                            Let I<sub>1</sub> and I<sub>2</sub> be the respective currents through resistors R<sub>1</sub> and R<sub>2</sub>, and let U be the voltage connected to them
                        </li>
                        <li>
                            We know that I<sub>1</sub> + I<sub>2</sub> = I
                        </li>
                        <center>
                            <li>
                                U/R<sub>1</sub> + U/R<sub>2</sub> = U/R<sub>e2</sub> 
                            </li>
                            <li>
                                1/R<sub>1</sub> + 1/R<sub>2</sub> = 1/R<sub>e2</sub> 
                            </li>
                            <li>
                                R<sub>e2</sub>=(R<sub>1</sub> + R<sub>2</sub>)/(R<sub>1</sub>R<sub>2</sub>)
                            </li>
                        </center>
                        <br>
                        <li>
                            Therefore, R<sub>e1</sub> = 300 Ohms and R<sub>e2</sub> = 150 Ohms.
                        </li>
                    </ul>
                <input type="submit" value="Explaination" id="Explaination" class="btn-secondary">
                </div>
            </div>
        </div>
    </main>
    <script src="/static/scripts/exercise.js"></script>
</body>
</html>