<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select exercise</title>
    <link href="https://fonts.cdnfonts.com/css/bukhari-script" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/select_exercise.css">
    <link rel="stylesheet" href="/static/css/quiz.css">
    <link rel="icon" type="image/x-icon" href="/static/images/LogoTransparent.png">

</head>
<body>

<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>


    <main>
        <button type="button" class="btn-secondary" id="back" onclick="window.location.replace('/templates/index.html');">
            <img src="/static/images/home-agreement.png" alt="Home">
        </button>
        <h1>Quiz</h1>
        <p>How does the value of acceleration a<sub>1</sub> change if we replace the weight of mass m with the weight of mass 2m?</p>
        <img src="" alt="">
        <ol class="quiz">
            <li onclick="handleChoice(1)">
                <input type="submit" style="width: 100%;" value="It stays the same">
            </li>
            <li onclick="handleChoice(2)">
                <input type="submit" style="width: 100%;" value="It doubles">
            </li>
            <li onclick="handleChoice(3)">
                <input type="submit" style="width: 100%;" value="The system is in balance">
            </li>
        </ol>
        <p id="explaination" hidden>The potential energy of the system E1 > E2 and since the total energy of the system is constant, the kinetic energy is greater in case 1, so answer A is correct.
        </p>
    </main>
    <script>
        function handleChoice(choice) {
            document.getElementById("explaination").hidden = false;
            document.querySelector("li").classList.add("correct");
        }
    </script>
</body>
</html>